    body {
        background-color: #FFDCDC;
    }

    .navbar-nav .nav-link {
        color: #850E35 !important;
        content-visibility: center;
    }

    .navbar-brand {
        color: #850E35 !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 100%;
        width: auto;
        height: auto;
        z-index: 10;
    }

    .carousel-control-prev {
        left: 10px;
    }

    .carousel-control-next {
        right: 10px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    .carousel-frame {
        height: 500px;
        overflow: hidden;
        position: relative;
        border-radius: 12px;
    }

    .carousel-wrapper {
        width: 100%;
        background-color: #FFD5D5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 50px;
    }

    .carousel-box {
        max-width: 100%;
    }

    #carouselExampleFade {
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 100px;
    }

    #carouselExampleFade .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-box {
        color: #850E35;
        padding: 20px;
    }

    .titulo {
        font-size: 6rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    .descripcion {
        font-size: 2.2rem;
        line-height: 1.5;
        text-align: center;
    }

    .carousel-box {
        max-width: 100%;
    }

    /* Footer  */

    .footer {
        background-color: #FFF5F2;
        text-align: center;
    }

    .fw-bold {
        color: #850E35;
    }